<form method="post" action="/todo/add">
    time:<select id="framework" type="text" name="time" >
        <option value="00:00-01:00">00:00-01:00</option>
        <option value="01:00-02:00">01:00-02:00</option>
        <option value="02:00-03:00">02:00-03:00</option>
        <option value="03:00-04:00">03:00-04:00</option>
        <option value="04:00-05:00">04:00-05:00</option>
        <option value="05:00-06:00">05:00-06:00</option>
        <option value="06:00-07:00">06:00-07:00</option>
        <option value="07:00-08:00">07:00-08:00</option>
        <option value="08:00-09:00">08:00-09:00</option>
        <option value="09:00-10:00">09:00-10:00</option>
        <option value="10:00-11:00">10:00-11:00</option>
        <option value="11:00-12:00">11:00-12:00</option>
        <option value="12:00-13:00">12:00-13:00</option>
        <option value="13:00-14:00">13:00-14:00</option>
        <option value="14:00-15:00">14:00-15:00</option>
        <option value="15:00-16:00">15:00-16:00</option>
        <option value="16:00-17:00">16:00-17:00</option>
        <option value="17:00-18:00">17:00-18:00</option>
        <option value="18:00-19:00">18:00-19:00</option>
        <option value="19:00-20:00">19:00-20:00</option>
        <option value="20:00-21:00">20:00-21:00</option>
        <option value="21:00-22:00">21:00-22:00</option>
        <option value="22:00-23:00">22:00-23:00</option>
        <option value="23:00-24:00">23:00-24:00</option>
    </select><br>
    title:<input type="text" name="title" placeholder=<%= item.title %>><br>
    description:<input type="text" name="description" placeholder=<%= item.description %>><br>
    <input type="submit" value="Edit Item"><br>
</form>